<form action="" method="post">
    <a href="{% url 'lottery:index' %}">Home</a>
</form>
<h1>Member: {{ member.name }} ({{ member.mem_time }}{{ member.mem_level }})</h1>
<h2>TOTAL POINTS: {{ member.total_points }}</h2>

<h3># Chances: {{ num_chances }}</h3>
<h3># Remaining Points: {{ remaining_points }}</h3>

<form action="{% url 'lottery:create_point' member.id %}" method="post">
    {% csrf_token %}
    <label for="addPoints" type="number" value="{{ create_points }}">
        Add Points:
    </label>
    <input id="addPoints" type="number" name="addPoints" value="{{ create_points }}">
    <input type="submit" value="Add">
</form>

<ol>
    {% for point in point_list %}
    <li><h4>Point: {{ point.points }} ---- {{ point.date|date:'m-d'}}</h4></li>
    <form action="{% url 'lottery:delete_point' point.id %}" method="post">
        {% csrf_token %}
        <input id="deletePoint" type="submit" name="deletePoint" value="Delete">
    </form>
    {% endfor %}
</ol>

<form action="{% url 'members:delete_member' member.id %}" method="post">
    {% csrf_token %}
    <input id="deleteMember" type="submit" name="subtractPoints" value="DELETE MEMBER">
</form>
