<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Awesome Lottery - For Alex</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <h1>TEST DevForAlex - Awesome Lottery?</h1>
    <form action="{% url 'members:create_member' %}" method="post">
        {% csrf_token %}
        <label for="name">Your name: </label>
        <input id="name" type="text" name="name" value="{{ current_name }}">
        <br>
        <label for="total_points">Points: </label>
        <input id="total_points" type="number" name="total_points" value="{{ total_points1 }}">
        <br>
        <label for="group">Class: &nbsp;</label>
        <pre class="container my-3" id="group">
            <select name="mem_time" id="mem_time">
                <option value="">Time</option>
                <option value="230">230</option>
                <option value="330">330</option>
                <option value="430">430</option>
                <option value="530">530</option>
                <option value="630">630</option>
            </select>
            <select name="mem_level" id="mem_level">
                <option value="">Level</option>
                {% include "levels.html" %}
            </select>
        </pre>
        <input type="submit" value="Add Member">
    </form>
    <p>230{{ dashboard.first_class }}
        330{{ dashboard.second_class }}
        430{{ dashboard.third_class }}
        530{{ dashboard.fourth_class }}
        630{{ dashboard.fifth_class }}
    </p>
    <form action="{% url 'dashboard:create_dashboard' %}" method="post">
        {% csrf_token %}
        <select name="first_class" id="first_class">
            <option value="">230</option>
            {% include "levels.html" %}
        </select>

        <select name="second_class" id="second_class">
            <option value="">330</option>
            {% include "levels.html" %}
        </select>

        <select name="third_class" id="third_class">
            <option value="">430</option>
            {% include "levels.html" %}
        </select>

        <select name="fourth_class" id="fourth_class">
            <option value="">530</option>
            {% include "levels.html" %}
        </select>

        <select name="fifth_class" id="fifth_class">
            <option value="">630</option>
            {% include "levels.html" %}
        </select>
        <input type="submit" value="Create Dashboard">
    </form>

    <form action="{% url 'dashboard:get_dashboard' %}" method="get">
        <input type="submit" value="DASHBOARD">
    </form>

    {% if member_list %}
        <ol>
        {% for member in member_list %}
            <li><a href="{% url 'members:detail' member.id %}">({{ member.mem_time }}{{ member.mem_level }}) {{ member.name }} - {{ member.total_points }}</a>
                <form action="{% url 'lottery:create_point' member.id %}" method="post">
                    {% csrf_token %}
                    <label for="addPoints" type="number" value="{{ create_points }}">
                        Add Points:
                    </label>
                    <input id="addPoints" type="number" name="addPoints" value="{{ create_points }}">
                    <input type="submit" value="addPoints">
                </form>
            </li>
        {% endfor %}
        </ol>
    {% else %}
        <p>No members are available.</p>
    {% endif %}

  </body>
</html>