{% block pt_sys %}
{% endblock %}
{#<input class="btn btn-success p-2" id="pt_point_five" type="submit" name="pt_point_five" value="0.5">#}
<input class="btn btn-success p-2" id="pt_one" type="submit" name="pt_one" value="1">
<input class="btn btn-success p-2" id="pt_two" type="submit" name="pt_two" value="2">
<input class="btn btn-success p-2" id="pt_three" type="submit" name="pt_three" value="3">
<input class="btn btn-success p-2" id="pt_four" type="submit" name="pt_four" value="4">
<input class="btn btn-success p-2" id="pt_five" type="submit" name="pt_five" value="5">
<input class="btn btn-success p-2" id="pt_six" type="submit" name="pt_six" value="6">
<input class="btn btn-success p-2" id="pt_seven" type="submit" name="pt_seven" value="7">
<input class="btn btn-success p-2" id="pt_eight" type="submit" name="pt_eight" value="8">
<input class="btn btn-success p-2" id="pt_nine" type="submit" name="pt_nine" value="9">
<input class="btn btn-success p-2" id="pt_ten" type="submit" name="pt_ten" value="10">

<input class="btn btn-danger p-2" id="pt_minus_five" type="submit" name="pt_minus_five" value="-5">
<input class="btn btn-danger p-2" id="pt_minus_ten" type="submit" name="pt_minus_ten" value="-10">
